* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        135deg,
        #667eea,
        #764ba2
    );
}

.password-container {
  position: relative;
  width: 100%;
}

.password-container input {
  width: 100%;
  padding: 12px;
  padding-right: 45px;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
  font-size: 18px;
}

.container {
    width: 400px;
}

.form-box {
    background: rgb(196, 92, 92);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.15);
    display: none;
}

.form-box.active {
    display: block;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

.form-box p {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

input:focus {
    border-color: #667eea;
}

button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: #667eea;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #5563d8;
}

.switch {
    margin-top: 20px;
    font-size: 14px;
}

.switch span {
    color: #667eea;
    font-weight: bold;
    cursor: pointer;
}

.switch span:hover {
    text-decoration: underline;
}

@media (max-width: 500px) {
    .container {
        width: 90%;
    }

    .form-box {
        padding: 30px;
    }
}
.container {
    width: 500px;
    background: rgb(196, 92, 92);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}